<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8">
<title>Agregar Usuario</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<script src="/js/jquery-3.5.0.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
		<div class="jumbotron text-center">
			
			
					<p class="h1">Nombre: </p>
					<p class="h1">Genoveva Gonzalez </p>
					<p class="h1">Fecha de Nacimiento: </p>
					<p class="h1">26 de Julio de 1998 </p>
					<p class="h1">Genero: </p>
					<p class="h1">Femenino</p>
					<p class="h1">Correo electrónico: </p>
					<p class="h1">geno.glez@gmail.com</p>
					
				
			
		</div>
</div> 
</body>
</html>